<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name ="SEICOII_APP" connectionString="Dsn=SEICOII;uid=Administrator"/>
    <add name ="SEICOII_WEB" connectionString="Server=192.168.1.195; Initial Catalog=SEICOII;User Id=seicoii;Password=conalBa2024;Encrypt=false;"/>
  </connectionStrings>
  <appSettings>
    <add key="PathLog" value="C:\git\CNB\seico-msreplicate_test\Log"/>
    <add key="FileNameLog" value="ReplicationLog_{currentdate}.log"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>